.bg-container{
    background-color: rgb(53, 51, 51);
    padding: 50px;
}
.heading{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
.para{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

}
.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top:  30px;

}
.description{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
.project-container{
    background-color: rgb(65, 63, 63);
    padding: 20px;
}
.projectheading{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}
.project-card{
    background-color: rgb(188, 185, 185);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;


}
.project-heading{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}
.project-description{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: normal;
}
.project-technologies{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
}
.s{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.skills-container{
    background-color: rgb(110, 109, 109);
    padding: 20px;
}
.skillsheading{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}
.skills-heading{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}
.skills-card{
    background-color: rgb(222, 219, 216);
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
}
.skill-pic{
    height: 100px;
    width: 100px;
    border-radius: 10%;
    
}
.certifications-container{
    background-color: rgb(65, 63, 63);
    padding: 20px;
}
.certificates-heading{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;

}
.certificate-pic{
    height: 380px;
    width: 480px;
    border-radius: 10px;
    margin-top: 20px;
}